h1{
    color: rgb(46, 43, 68);
    font-weight: bold;
}
img{
    border-radius: 10px;
}
.modalcard{
    background-color:rgba(10,10,10,0.8);
    color:white;
    padding:3%;
    border:none;
}
#banner{
    font-size: 30px;
    font-weight: bold;
}

.title{
    font-weight: bold;
}

p{
    color: #adb5bd;
}

.para{
    font-size: 16px;
}

.title2, .name{
    font-weight: bold;
    color: #e5383b;
}

.form{
    background-color: #adb5bd;
    padding: 10px;
} 
body{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
#accounts{
    margin-left: 70%;
}
nav{
    background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}