h1{
    color: rgb(248, 207, 74);
    font-weight: bold;
}
img{
    border-radius: 10px;
}
.modalcard{
    background-color:rgba(10,10,10,0.8);
    color:white;
    padding:3%;
    border:none;
}

.title{
    font-weight: bold;
}

p{
    color: #adb5bd;
}

.para{
    font-size: 16px;
}

.title2, .name{
    font-weight: bold;
    color: #e5383b;
}

.form{
    background-color: #adb5bd;
    padding: 10px;
} 
body{
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#accounts{
    margin-left: 20%;
}